name: Create site

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build 
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: coursier/cache-action@v6
      - uses: coursier/setup-action@v1.2.1
        with:
          apps: scala-cli

      - name: Make sure it can build
        run: scala-cli run src/
